* {
    padding: 0;
    margin: 0;
}


/* 1st main section */

.happy-new-year-image {
    position: relative;
}

.happy-new-year-image img {
    max-width: 100%;
    height: 400px;
    align-items: center;
    padding-left: 200px;
    color-scheme: dark;
    opacity: 1;
}

.new-year-card-text {
    position: absolute;
    top: 30%;
    padding-left: 500px;
    margin-left: 200px;
    color: white;
    text-align: center;
    align-items: center;
    padding-left: 300px;
}


/* 2nd main section */

.second-bannar {
    padding-left: 500px;
    padding-top: 50px;
}

.second-bannar-text h1 {
    color: red;
}

.second-bannar-text p {
    color: red;
    padding-top: 15px;
    padding-bottom: 5px;
}

.second-bannar-pic img {
    padding-top: 25px;
    max-width: 100%;
    height: 200px;
}


/* party section */

.midnight-party {
    position: relative;
    padding-top: 50px;
}

.midnight-party img {
    max-width: 100%;
    height: 400px;
    align-items: center;
    padding-left: 200px;
    color-scheme: dark;
    opacity: 1;
}

.party-text h1 {
    padding-bottom: 10px;
}

.party-text {
    position: absolute;
    top: 40%;
    padding-left: 20px;
    margin-left: 200px;
    color: white;
}

.party-text button {
    margin: 25px;
    padding: 5px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}

/* gift photo section */

/* .gift-photo-div {
    display: flex;
} */

.gift-photo-div {
    padding-left: 200px;
    padding-top: 25px;
}

.gift-photo-one {
    display: flex;
}

.gift-photo-one img {
    width: 300px;
    padding: 10px;
}


.gift-photo-text {
    padding-top: 100px;
    padding-left: 200px;
}

.gift-photo-text p {
    color: red;
}

.gift-photo-text small {
    color: black;
}


.newsletter img {
    /* padding-left: 20px; */
    padding-top: 20px;
    width: 100px;
}

.newsletter {
    text-align: center;
}

.newsletter h1 {
    padding: 10px;
}

.form {
    /* padding: 10px;
    margin: 10px; */
    border: 2px solid black;
}